<p>This is the homepage.</p>

<form  id="form" action="/" method="POST">
  <input type="text" name="name" placeholder="name here">
  <input type="text" name="email" placeholder="email here">
  <input type="string" name="phone" placeholder="phone number here">
  <input id="button" type="submit" value="Submit">
</form>
