<p>Welcome to my LightSaber.  Prepare to be amazed.</p>

<form  id="form" action="/submit" method="POST">
  <input type="text" name="name" placeholder="name here">
  <input type="text" name="email" placeholder="email here">
  <input type="string" name="phone" placeholder="phone number here">
  <input type="submit" value="Submit">
</form>
