<form action="" method="">
  <input type="text" name="user[name]" placeholder="Name here">
  <input type="text" name="user[password]" placeholder="Password here">
  <input type="submit" value= "Submit">
</form>