<form action="" method="">
  <input type="text" name="user[name]" placeholder="Name here">
  <input type="text" name="user[email]" placeholder="Email here">
  <input type="text" name="user[password]" placeholder="Password">
  <input type="text" name="user[password]" placeholder="Confirm Password">
  <input type="submit" value= "Submit">
</form>