<form id="signUpForm" action="/signup" method="GET" style="display:none">
  <input type="text" name="name" placeholder="Name here">
  <input type="text" name="email" placeholder="Email here">
  <input type="password" name="password" placeholder="Password here">
  <input type="password" name="password" placeholder="Confirm password">
  <input type="submit" value="Sign Up">
</form>